@import '../../mixin-variables.scss';

.item {
  text-transform: uppercase;
  font-weight: 600;
  background: $backgroud-white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    padding-right: 50px;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  font-size: 24px;
  line-height: calc(24 / 24 * 100%);
  color: $price-color;
  font-weight: 600;
}

.body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 33.333%;
  padding-top: 20px;
}

.title {
  width: 100%;
  color: $ticket-title-color;
}

.subtitle {
  font-size: 14px;
}
