@import '../../mixin-variables.scss';

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  & img {
    width: 80px;
    height: 80px;
  }
}

.wrap {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 232px 1fr;
    column-gap: 20px;
  }
}
