/* Fonts */

@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/OpenSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-display: swap;
}

/* Variables */

// colors
$background: #e5e5e5;
$backgroud-white: #ffffff;
$background-category: #fafafa;
$font-color-main: #4a4a4a;
$font-color-secondary: #a0b0b9;
$focus: deepskyblue;
$price-color: #2196f3;
$checkbox-border: #9abbce;
$form-hover: #f1fcff;

// breakpoints
$max-mobile-width: 767px;
$tablet-width: 768px;

/* Сброс отступов */
$efreytorskij_zazor: 0.001px;

@mixin reset {
  padding: 0;
  margin: $efreytorskij_zazor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

$font-family: OpenSans-SemiBold, Arial, sans-serif;
$font-secondary: OpenSans-Regular, Arial, sans-serif;
